<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GPIO Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div class="left">
        <h1 id="client_ip">{{ msg }}</h1>
        <div>
            <h2>LED1</h2>
            <dl>
                <dt>Status</dt>
                <dd id="led1">{{ status.led1 }}</dd>
            </dl>
            <h2>LED2</h2>
            <dl>
                <dt>Status</dt>
                <dd id="led2">{{ status.led2 }}</dd>
            </dl>
            <div>
                <button id="button1">Button1</button>
                <button id="button2">Button2</button>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="chat-list">
            <ul id="message_list"></ul>
        </div>
        <div class="message-form">
            <input type="text" name="message" id="message" placeholder="message hi">
            <input type="button" value="SEND" id="send">
        </div>
    </div>
</body>
</html>
